- title "Assets"
%table
  %tr
    %th Uploaded Files
  - for asset in @assets
    %tr
      %td= link_to asset.file_name, download_url(asset)
      %td= link_to "Show", asset
      %td= link_to "Edit", edit_asset_path(asset)
      %td= link_to "Destroy", asset, :confirm => 'Are you sure?', :method => :delete
%p= link_to "New Asset", new_asset_path
